* {
  margin: 0;
  padding: 0;
}

:root {
  --border-width: 4px;
  --border-color: white;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica, serif;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/*Solution*/
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 5rem 3rem 1fr 3rem;
  gap: 4px;
}

.header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;

  display: grid;
  align-content: center;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  .menu {
    justify-self: end;
  }
  .menu > ul {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    list-style-type: none;
  }
}

.sidebar {
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;

  display: grid;
  /*height: 100%;*/
  gap: 50px;
  grid-template-rows: repeat(4, 1fr);

  div {
    display: grid;
    align-items: center;
  }
}

.nav {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
  }
}

.article {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;

  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.footer {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;

  display: grid;
  align-items: center;
}